@font-face {
	font-family: "BarkentinaRegular";
	src: url("../fonts/BarkentinaRegular/BarkentinaRegular.eot");
	src: url("../fonts/BarkentinaRegular/BarkentinaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/BarkentinaRegular/BarkentinaRegular.woff") format("woff"),
	url("../fonts/BarkentinaRegular/BarkentinaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
		font-family: "ArsenalRegular";
		src: url("../fonts/ArsenalRegular/ArsenalRegular.eot");
		src: url("../fonts/ArsenalRegular/ArsenalRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/ArsenalRegular/ArsenalRegular.woff") format("woff"),
		url("../fonts/ArsenalRegular/ArsenalRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}	
body{
	padding: 50px;
}
.s1 h3{
	font-family: Barkentina, serif;
}
.s2 h3{
	font-family: Arsenal, Sans-Serif;
}
p{
    font-variant: small-caps;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}
